Package: libscim-dev
Source: scim
Version: 1.4.15-3
Architecture: i386
Maintainer: Rolf Leggewie <foss@rolf.leggewie.biz>
Installed-Size: 2211
Depends: libscim8c2a (= 1.4.15-3), libx11-dev, libgtk2.0-dev, libgtk-3-dev | libgtk2.0-dev (<< 2.21), libpango1.0-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://sourceforge.net/projects/scim/
Description: development library for SCIM platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package provides development libraries on SCIM platform, including the
 header files and static libraries.  The development documentations can be
 found in the scim-dev-doc package.
 .
 SCIM can be used as a dynamically loaded library on a single machine, or as a
 server/client model through socket in a network environment.  As a component
 of the system, SCIM can work with existing IM framework such as XIM or IIIMF
 (in progress), as well as using client specific IM interface, such as GTK+
 IM module or Qt IM module.  SCIM provides an IM application, scim, which use
 various IM engines to provide input methods for many languages, either by
 native modules (such as scim-pinyin and scim-hangul) or interfaces to other
 IM libraries (such as scim-anthy, scim-uim, scim-m17n, and scim-chewing).
 .
 For more information about SCIM, please see the description of scim package.
