Package: scim-gtk-immodule
Source: scim
Version: 1.4.15-3
Architecture: i386
Maintainer: Rolf Leggewie <foss@rolf.leggewie.biz>
Installed-Size: 263
Depends: scim (= 1.4.15-3), scim-im-agent (= 1.4.15-3), libatk1.0-0 (>= 1.12.4), libc6 (>= 2.15), libcairo-gobject2 (>= 1.10.0), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.11), libfreetype6 (>= 2.2.1), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.16.0), libgtk-3-0 (>= 3.0.0), libgtk2.0-0 (>= 2.24.0), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libpangoft2-1.0-0 (>= 1.14.0)
Enhances: scim
Conflicts: scim-gtk-immodule, scim-gtk2-immodule
Replaces: scim-gtk2-immodule
Provides: scim-gtk-immodule, scim-gtk2-immodule
Section: utils
Priority: optional
Multi-Arch: same
Homepage: https://sourceforge.net/projects/scim/
Description: GTK+ input method module with SCIM as backend
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the GTK+ native input method module for SCIM.  It provides
 a GTK+ IM module for version 2 and 3 of GTK with SCIM as the input backend.
 This input method module should work within all GTK+ platforms, including
 gtk-x11, gtk-linuxfb and gtk-directfb.
 .
 The GTK+ IM module communicates with SCIM backend through the IM agent
 provided by scim-im-agent package.
 .
 For more information about SCIM, please see the description of scim package.
