Package: scim-qt-immodule
Source: scim
Version: 1.4.15-3
Architecture: i386
Maintainer: Rolf Leggewie <foss@rolf.leggewie.biz>
Installed-Size: 185
Depends: scim (= 1.4.15-3), scim-im-agent (= 1.4.15-3), libc6 (>= 2.15), libgcc1 (>= 1:4.1.1), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.1.1)
Enhances: scim
Conflicts: scim-bridge-client-qt, scim-bridge-client-qt4
Provides: scim-bridge-client-qt4
Section: utils
Priority: optional
Multi-Arch: same
Homepage: https://sourceforge.net/projects/scim/
Description: Qt input method module with SCIM as backend
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the Qt native input method module for SCIM.  It provides
 a Qt IM module for version 4 of Qt with SCIM as the input backend.
 This input method module should work within all Qt platforms.
 .
 The Qt IM module communicates with SCIM backend through the IM agent
 provided by scim-im-agent package.
 .
 For more information about SCIM, please see the description of scim package.
