Package: scim-clutter-immodule
Source: scim
Version: 1.4.15-3
Architecture: i386
Maintainer: Rolf Leggewie <foss@rolf.leggewie.biz>
Installed-Size: 148
Depends: scim (= 1.4.15-3), scim-im-agent (= 1.4.15-3), libatk1.0-0 (>= 1.12.4), libc6 (>= 2.15), libcairo-gobject2 (>= 1.10.0), libcairo2 (>= 1.2.4), libclutter-1.0-0 (>= 1.10.0), libclutter-imcontext-0.1-0, libcogl-pango20 (>= 1.17.4), libcogl-path20 (>= 1.17.4), libcogl20 (>= 1.17.4), libdrm2 (>= 2.3.1), libegl1-mesa (>= 7.8.1) | libegl1-x11, libgbm1 (>= 7.11~1), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.16.0), libgtk-3-0 (>= 3.0.0), libjson-glib-1.0-0 (>= 0.12.0), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libwayland-client0 (>= 1.0.2), libwayland-cursor0 (>= 1.0.2), libwayland-egl1-mesa (>= 10.0.2) | libwayland-egl1, libwayland-server0 (>= 1.0.2), libx11-6, libxcomposite1 (>= 1:0.3-1), libxdamage1 (>= 1:1.1), libxext6, libxfixes3, libxi6, libxkbcommon0 (>= 0.2.0), libxrandr2
Enhances: scim
Section: utils
Priority: optional
Multi-Arch: same
Homepage: https://sourceforge.net/projects/scim/
Description: Clutter input method module with SCIM as backend
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the clutter native input method module for SCIM.  It provides
 a clutter IM module for clutter-1.0 with SCIM as the input backend.
 This input method module should work within all clutter platforms.
 .
 The clutter IM module communicates with SCIM backend through the IM agent
 provided by scim-im-agent package.
 .
 For more information about SCIM, please see the description of scim package.
